<ion-view title="Daily Cancellations Report" id="viewDailyCancellation">
    <ion-content padding="true" class="has-header">
        <h1 id="dailyCancellationsReport-heading3" style="color:#000000;font-weight:300;">Daily Cancellations</h1>
        <form id="dailyCancellationsReport-form4" class="list">
            <label class="item item-input" id="dailyCancellationsReport-input5">
                <span class="input-label">Select Date</span>
                <input type="date" placeholder="">
            </label>
        </form>
        <ion-list id="dailyCancellationsReport-list9">
            <ion-item id="dailyCancellationsReport-list-item25">Item 1</ion-item>
            <ion-item id="dailyCancellationsReport-list-item26">Item 2</ion-item>
            <ion-item id="dailyCancellationsReport-list-item27">Item 3</ion-item>
        </ion-list>
    </ion-content>
</ion-view>