<ion-view title="Dashboard" id="viewDashboard">
    <ion-content padding="true" class="has-header">
        <h3 id="dashboard-heading5" style="color:#000000;">Bhishak Dashboard</h3>
        <ion-list id="dashboard-list11">
            <ion-item class="item-thumbnail-left" id="dashboard-list-item34">
                <h2>Item</h2>
            </ion-item>
            <ion-item class="item-icon-left" id="dashboard-list-item35">
                <i class="icon ion-ionic"></i>Item</ion-item>
            <ion-item class="item-avatar" id="dashboard-list-item36">
                <h2>Item</h2>
            </ion-item>
            <ion-item class="item-icon-left" id="dashboard-list-item37">
                <i class="icon ion-ionic"></i>Item</ion-item>
            <ion-item class="item-thumbnail-left" id="dashboard-list-item38">
                <h2>Item</h2>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>