<ion-view title="Doctor Consultations Report" id="viewDoctorConsultation">

    <ion-content padding="true" class="has-header">
        <h1 id="doctorConsultationsReport-heading2" style="color:#000000;text-align:center;">Doctor Consultations</h1>
        <form id="doctorConsultationsReport-form5" class="list">
            <label class="item item-input" id="doctorConsultationsReport-input6">
                <span class="input-label">Select Date</span>
                <input type="date" ng-model="report.reportDate" value="{{ report.reportDate }}" ng-change="dateChanged()"/>
            </label>
        </form>
        <!-- Create a List Divider for each Specialty, Using Angular GroupBy Filter -->
        <ion-list id="Specialty-list" ng-repeat="(specialty, specialtyData) in consultationCounts | groupBy: 'SpecialityName'">
            <div class="item item-divider">
                {{specialty}}
            </div>
            <!-- Create a List of items for each Specialty -->
            <ion-list id="consultation-list">
                <ion-item  ng-repeat="consulation in specialtyData" >
                    <span> {{consulation.ProviderName}}</span>,&nbsp;&nbsp;
                    <span>Count - {{consulation.PaymentAmount}}</span>
                </ion-item>
            </ion-list>
        </ion-list>
    </ion-content>
</ion-view>