<ion-view title="Login" id="viewLogin" hide-nav-bar="true">
    <ion-content padding="true" class="has-header">
        <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <form id="login-form3" class="list">
            <ion-list id="login-list3">
                <label class="item item-input" id="login-input2">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="" ng-model="login.userId">
                </label>
                <label class="item item-input" id="login-input3">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="" ng-model="login.password">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <button id="login-submit" class="button button-stable  button-block" ng-click="loginUser()">Log in</button>
            <a href="#" onclick="window.open('/signup', '_system', 'location=yes'); return false;" id="login-button5" class="button button-positive  button-block button-clear">Or create an account</a>
        </form>
    </ion-content>
</ion-view>