<ion-view title="Settings" id="viewSettings" style="background-color:#D1FDF8;">
    <ion-content padding="true" class="has-header">
        <div id="settings-button-bar1" class="button-bar">
            <button id="settings-button1" class="button button-positive  button-block">1</button>
            <button id="settings-button2" class="button button-positive  button-block">2</button>
            <button id="settings-button3" class="button button-positive  button-block">3</button>
        </div>
        <form id="settings-form2" class="list">
            <label class="item item-select" id="settings-select1">
                <span class="input-label">Select</span>
                <select></select>
            </label>
        </form>
        <h1 id="settings-heading1" style="color:#000000;">Settings</h1>
        <ion-list id="settings-list1">
            <ion-item id="settings-list-item1">Item 1</ion-item>
            <ion-item id="settings-list-item2">Item 2</ion-item>
            <ion-item id="settings-list-item3">Item 3</ion-item>
        </ion-list>
    </ion-content>
</ion-view>